:root {
  --slide-distance: 30px;
}

@layer base {
  input {
    @apply p-2;
    @apply border-2;
    @apply rounded;

    .dark & {
      @apply bg-gray-600;
      @apply border-gray-800;
    }

    &:focus {
      @apply outline-none;
      @apply border-primary-600;
      @apply ring-2;
      @apply ring-primary-400;
    }

    .dark &:focus {
      @apply border-primary-500;
    }
  }
}

@layer components {
  .button {
    @apply px-6;
    @apply py-1;
    @apply border-2;
    @apply border-transparent;
    @apply text-gray-100;
    @apply bg-primary-600;
    @apply rounded;

    .dark & {
      @apply bg-primary-500;
      @apply text-gray-50;
    }

    &:hover,
    &:focus {
      @apply bg-indigo-800
    }

    .dark &:hover,
    .dark &:focus {
      @apply bg-indigo-600
    }

    &:focus {
      @apply outline-none;
      @apply ring-2;
      @apply ring-primary-500;
    }
  }

  .link {
      @apply text-primary-600;

    .dark & {
      @apply text-secondary-500;
    }

    &:hover {
      @apply underline;
    }

    &:focus {
      @apply outline-none;
      @apply ring-2;
      @apply ring-primary-400;
      @apply rounded;
    }
  }
}

/* Transition fade par défaut sur toutes les pages */
.page {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.3s;
  }
  &-enter,
  &-leave-active {
    opacity: 0;
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.shake {
  &-enter-active,
  &-leave-active {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }

  &-enter,
  &-leave-to {
    opacity: 0;
  }
}
