:root {
  --slide-distance: 30px;
}

/* Transition fade par défaut sur toutes les pages */
.page {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.3s;
  }
  &-enter,
  &-leave-active {
    opacity: 0;
  }
}

.button {
  @apply text-white;
  @apply bg-black;
  @apply border-2;
  @apply border-transparent;
  @apply rounded;
  @apply px-6;
  @apply py-1;

  &:hover,
  &:focus {
    @apply border-black;
    @apply text-black;
    @apply bg-white;
  }
}

input {
  @apply rounded;
  @apply border-2;
  @apply p-2;

  .dark & {
    @apply bg-gray-600;
    @apply border-gray-800;
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.shake {
  &-enter-active,
  &-leave-active {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }

  &-enter,
  &-leave-to {
    opacity: 0;
  }
}
