@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --slide-distance: 37px;
}

@layer components {
  .button {
    @apply rounded;
    @apply focus:outline-none;
    @apply focus:ring-2;
    @apply focus:ring-primary-500;
    @apply border-2;
    @apply border-transparent;
    @apply px-6;
    @apply py-1;
    @apply bg-primary-600;
    @apply hover:bg-primary-800;
    @apply focus:bg-primary-800;
    @apply text-gray-100;
    @apply font-medium;

    .dark & {
      @apply hover:bg-primary-500;
      @apply focus:bg-primary-500;
      @apply text-white;
    }

    &.red {
      @apply focus:ring-red-500;
      @apply bg-red-600;
      @apply hover:bg-red-700;
      @apply focus:bg-red-700;
    }
  }

  .link {
    @apply focus:outline-none;
    @apply focus:ring-2;
    @apply focus:ring-primary-400;
    @apply rounded;
    @apply text-primary-600;
    @apply hover:underline;

    .dark & {
      @apply text-secondary-500;
    }
  }

  .editable-text {
    @apply bg-transparent border-none hover:bg-gray-200 dark:hover:bg-gray-600 focus:bg-transparent dark:focus:bg-transparent focus:ring-2 focus:ring-primary-400 rounded duration-300;;
    transition-property: background-color;
  }
}

/* Transition fade par défaut sur toutes les pages */
.page {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.3s;
  }

  &-enter,
  &-leave-active {
    opacity: 0;
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.shake {
  &-enter-active,
  &-leave-active {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }

  &-enter,
  &-leave-to {
    opacity: 0;
  }
}
